* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #111;
}
.box {
  width: 80px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 50px;
  border: 2px solid #a9f6b3;
  box-shadow: 0 0 30px #ffffff60;
}

.spinner {
  position: relative;
  width: 40px;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
.progress {
  position: relative;
  width: 10px;
  background: #222;
  height: 300px;
  border-radius: 20px;
  display: flex;
}
.progress #meter {
  position: absolute;
  width: 100%;
  background: #ff0;
  bottom: 0;
  border-radius: 5px;
  transition: 0.5s;
  filter: drop-shadow(0 0 5px #ff0);
}
.btn {
  position: relative;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #a9f6b3;
  transition: 0.5s;
}
.btn:hover {
  background: #a9f6b3;
  color: #222;
  transform: scale(0.9);
}
#output {
  color: #fff;
  font-size: 20px;
  filter: drop-shadow(0 0 5px #fff);
}
